.m-1 {
  margin: 0.25rem
}

.m-3 {
  margin: 0.75rem
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.ml-2 {
  margin-left: 0.5rem
}

.flex {
  display: flex
}

.flex-1 {
  flex: 1 1 0%
}

.flex-row {
  flex-direction: row
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.rounded-md {
  border-radius: 0.375rem
}

.border-b {
  border-bottom-width: 1px
}

.border-\[\#D8D8DD\] {
  --tw-border-opacity: 1;
  border-color: rgb(216 216 221 / var(--tw-border-opacity))
}

.bg-\[\#F45FF8\] {
  --tw-bg-opacity: 1;
  background-color: rgb(244 95 248 / var(--tw-bg-opacity))
}

.bg-\[\#313030\]\/\[0\.7\] {
  background-color: rgb(49 48 48 / 0.7)
}

.bg-current {
  --tw-bg-opacity: 1;
  background-color: rgb(13 18 31 / var(--tw-bg-opacity))
}

.p-3 {
  padding: 0.75rem
}

.p-5 {
  padding: 1.25rem
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem
}

.text-center {
  text-align: center
}

.text-\[34px\] {
  font-size: 34px
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-red-600 {
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity))
}

.text-\[\#D8D8DD\] {
  --tw-text-opacity: 1;
  color: rgb(216 216 221 / var(--tw-text-opacity))
}
